@font-face {
  font-family: "TTLakes";
  src: url(/font/TTLakes-Bold.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes";
  src: url(/font/TTLakes-Medium.ttf) format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes";
  src: url(/font/TTLakes-Regular.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TTLakes";
  src: url(/font/TTLakes-MediumItalic.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}
