body {
  box-sizing: border-box;
  font-family: "TTLakes";
  font-size: 16px;
  /* margin-right: 10px; */
}

/* подключить стали чере стайл шит
текст и картинку в один див
 */

.custom_font {
  font-family: "TTLakes";
}

/* .custom_font_medium {
  font-family: "TTLakes";
} */

.menu {
  background-color: #fff;
}

.menu__icons {
  margin: 16px;

  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__items {
  display: flex;

  align-items: center;
  /* margin: 10px; */
}
.menu__items:nth-child(3) {
  margin-left: auto;
}

.burger {
  display: flex;
  justify-self: flex-start;
}

.group {
  display: flex;
  justify-self: flex-start;
  min-width: 96.5px;
  min-height: 50.8px;
}

.call {
  display: none;
}

.chat {
  display: none;
}

.profile {
  display: none;
}

.repair {
  border-left: 2px solid #eaeaea;
  border-right: none;
  padding-left: 10px;
}

.checkstatus {
}

.services {
  /* border: 0 5px 0 0 #41f6d7; */
  overflow: hidden;
  background-color: #f8f8f8;
}

.services__nav {
  margin-top: 32px;
}

.services__left {
  padding: 0 0 0 16px;
  font-weight: 700;
  font-size: 28px;
  border-top: none;
  border-left: #41f6d7 6px solid;
  border-right: none;
  border-bottom: none;
  background: none;
  font-family: "TTLakes";
}

.services__right {
  background-color: #f8f8f8;
  display: none;
  border: none;
}

.services__wrapper {
  display: flex;
  /* gap: 10px; */
  margin: 20px 20px 0 16px;
  padding: 3px;
  background-color: #f8f8f8;
  justify-content: flex-start;
  align-items: center;
}

.services__button {
  display: flex;
  text-wrap: nowrap;
  color: #7e7e82;
  font-family: "TTLakes";
  font-size: 16px;
  border: none;
  background: none;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  width: 246px;
  height: 40px;
  padding: 5px 5px 5px 12px;
}

.services__button:first-child {
}

.services__button:hover {
  background-color: #fff;
  border: #b8ffec 2px solid;
  border-radius: 6px;
}

.repaired_deviсes {
  min-width: 220px;
}
.add_services {
}
.repaired_brands {
  display: none;
}
.prices_options {
  display: none;
}
.adress_centers {
  display: none;
}
.special_prices {
  display: none;
}
.reviews {
  margin: 16px;
  padding: 0 0 0 16px;
  display: none;
}

.about {
  background-color: #f8f8f8;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.about__text {
  font-family: "TTLakes";
  font-size: 14px;
  font-weight: 400;
  color: #1b1c21;
  line-height: 20px;
  letter-spacing: 0.2px;
  max-width: 288px;
  /* max-height: 90px; */
}

.about__main {
  /* display: flex;
    text-wrap: wrap; */
  /* max-width: 288px;
    max-height: 90px; */
  top: 240px;
  margin: 16px 16px 0 16px;
}

.about__medium {
  display: none;
  margin: 16px 16px 0 16px;
}

.about__finish {
  display: none;
  margin-left: 16px;
  margin-top: 20px;
}

.about_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #f8f8f8;
  margin: 0 0 10px 5px;
  padding: 10px;
}

.about__img {
  margin: 0 16px 16px 26px;
}

.about__items {
  /* max-height: 240px; */
}

@media (min-width: 430px) and (max-width: 768px) {
  .menu__items {
    margin: 10px;
  }
  .burger {
    border-right: 2px solid #eaeaea;
    border-left: none;
    padding-right: 10px;
  }
  .group {
  }
  .call {
    display: flex;
  }
  .chat {
    display: flex;
  }
  .profile {
    display: flex;
  }

  .prices_options {
    display: flex;
  }

  .special_prices {
    display: flex;
  }
  .reviews {
  }
  .about {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    flex-direction: row;
  }
  .about__text {
    display: flex;
    float: left;
    /* width: 312px; */
    max-width: 50%;
    height: auto;
    justify-content: flex-start;
    align-items: column;
    flex-wrap: wrap;
  }

  .about__medium {
    display: flex;
    width: 312px;
  }
  .about__finish {
  }
  .about_button {
    display: flex;
    margin: 0 10px 32px 5px;
  }
  .about__img {
    display: flex;
    float: right;
    margin: 16px;
    height: auto;
    max-width: 50%;

    /* overflow: hidden; */
  }
  .about__items {
    border-radius: 6px;
    margin: 16px;
    /* max-width: 360px;
    max-height: 208px; */
  }
}

@media (min-width: 769px) and (max-width: 1120px) {
  .menu__icons {
    display: none;
  }
  .menu__items {
    margin: 10px;
  }

  .call {
    display: flex;
  }
  .chat {
    display: flex;
  }
  .profile {
    display: flex;
  }
  .services_div {
    display: flex;
    flex-direction: row;
  }

  .services__nav {
    display: flex;
    justify-content: space-between;
  }

  .services__nav:nth-child(2) {
    justify-content: flex-end;
  }

  .services__right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
  }
  .services__img {
    margin-left: 8px;
  }

  .repaired_deviсes {
    display: flex;
  }
  .add_services {
    display: none;
  }
  .repaired_brands {
    display: flex;
    order: -1;
  }
  .prices_options {
    display: flex;
  }
  .adress_centers {
    display: flex;
  }
  .special_prices {
    display: flex;
  }
  .reviews {
    display: flex;
  }

  .about {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    flex-direction: row;
  }
  .about__text {
    display: flex;
    float: left;
    max-width: 506px;
    height: auto;
    justify-content: flex-start;
    align-items: column;
    flex-wrap: wrap;
  }

  .about__medium {
    display: none;
  }
  .about__finish {
    display: flex;
  }
  .about_button {
    display: flex;
    margin: 0 0 10px 5px;
  }
  .about__img {
    display: flex;
    float: right;
    height: auto;
    /* width: 44%; */
    margin: 0 16px 16px 16px;
    /* overflow: hidden; */
  }
  .about__items {
    border-radius: 6px;

    width: 531px;
    height: 307px;
  }
}
@media (min-width: 1121px) and (max-width: 2560px) {
  .menu__icons {
    display: none;
  }
  .menu__items {
    margin: 10px;
  }

  .call {
    display: flex;
  }
  .chat {
    display: flex;
  }
  .profile {
    display: flex;
  }
  .services_div {
    display: flex;
    flex-direction: row;
  }

  .services__nav {
    display: flex;
    justify-content: space-between;
  }

  .services__nav:nth-child(2) {
    justify-content: flex-end;
  }

  .services__right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
  }
  .services__img {
    margin-left: 8px;
  }

  .repaired_deviсes {
    display: flex;
  }
  .add_services {
    display: none;
  }
  .repaired_brands {
    display: flex;
    order: -1;
  }
  .prices_options {
    display: flex;
  }
  .adress_centers {
    display: flex;
  }
  .special_prices {
    display: flex;
  }
  .reviews {
    display: flex;
  }

  .about {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    flex-direction: row;
  }
  .about__text {
    display: flex;
    float: left;
    max-width: 506px;
    height: auto;
    justify-content: flex-start;
    align-items: column;
    flex-wrap: wrap;
  }

  .about__medium {
    display: none;
  }
  .about__finish {
    display: flex;
  }
  .about_button {
    display: flex;
    margin: 0 0 10px 5px;
  }
  .about__img {
    display: flex;
    float: right;
    height: auto;
    /* width: 44%; */
    margin: 0 16px 16px 16px;
    /* overflow: hidden; */
  }
  .about__items {
    border-radius: 6px;

    width: 531px;
    height: 307px;
  }
}
